@-webkit-keyframes glowGreen 
{from {-webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;}
50%{-webkit-box-shadow: rgba(0, 255, 0, 1) 0 0 10px;}
to {-webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;}}
@-webkit-keyframes glowRed 
{from {-webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;}
50%{-webkit-box-shadow: rgba(255, 0, 0, 1) 0 0 10px;}
to {-webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;}}
#connection {
  font: 14px Arial, sans-serif;
  font-weight: bold;
  vertical-align: middle;
  color: black;
}
#connection div {
  background-color: orange;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 5px;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#connection.connected div {
  background-color: green;
  -webkit-box-shadow: rgba(0, 255, 0, 0.5) 0px 0px 5px;
  -webkit-animation-name: glowGreen;
}
#connection.disconnected div {
  background-color: red;
  -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
  -webkit-animation-name: glowRed;
}
#log .info {
  color: navy;
  font-weight: bold;
  font: 10px Arial, sans-serif !important;
  margin-top:-15px;
}
.card-text
{
	 max-width: 100%;
	 white-space: nowrap; 
	 overflow: hidden;
	 text-overflow: ellipsis;
}
.icon:hover 
{
    color: green !important;
    font-size: 1.1em !important;
}
.border-5 
{
    border-width:5px !important;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}