.zui-table 
{
    width: 100%;
    border: solid 1px #000000;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    background-color: #fff;
    box-shadow: 3px 3px 3px grey;
   
    border-radius: 5px;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 2px #cdcdcd;
    font: normal 15px Arial, sans-serif;
    font-weight: bold;
    color: #000;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 2px #cdcdcd;
    color: #333;
    padding: 10px;
    text-align: center;
    //text-shadow: 1px 1px 1px #fff;
}
.small {
    font: normal 13px Arial, sans-serif;
}
